.btn-grup-beranda{
    display: flex;
    justify-content: left;
    box-sizing: content-box;
    
}
.btn-grup-beranda button {
    
    margin: 10px;
    padding: 30px;
    
}

.btn-grup-beranda i {
    font-size: 40px;
}

/* Data Master */
.btn-grup-data-master{
    display: flex;
    justify-content: left;
    box-sizing: content-box;
    
}
.btn-grup-data-master button {
    
    margin: 10px;
    padding: 30px;
    
}

.btn-grup-data-master i {
    font-size: 40px;
}

.btn-grup-data-master a{
    text-decoration: none;
    color: white;
    
}
.btn-grup-data-master a:hover {
    text-decoration: none;
    color: white;
}

/*End Data Master */


/* Jadwal */
.btn-grup-jadwal{
    display: flex;
    justify-content: left;
    box-sizing: content-box;
    
}
.btn-grup-jadwal button {
    
    margin: 10px;
    padding: 30px;
    
}

.btn-grup-jadwal i {
    font-size: 40px;
}
.btn-grup-jadwal a{
    text-decoration: none;
    color: white;
    
}

.btn-grup-jadwal a:hover {
    text-decoration: none;
    color: white;
}

/*End Jadwal */

.btn-grup-lainnya{
    display: flex;
    justify-content: left;
    box-sizing: content-box;
    
}
.btn-grup-lainnya button {
    
    margin: 10px;
    padding: 30px;
    
}

.btn-grup-lainnya i {
    font-size: 40px;
}



/* Materi */

.materi-10 {
    width: 900px;
    height: 200px;
}

.materi-grup {
    width: 300px;
    height: 100px;

}

.materi-btn {
    width: 800px;
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: left;
    box-sizing: content-box;
    
}

.materi-btn i{
    font-size: 40px;

}

.materi-btn button {
    margin: 20px;
}


.materi-btn a{
    text-decoration: none;
    color: white;
    
}

.materi-btn a:hover{
    text-decoration: none;
    color: white;
}

.materi-btn span{
    font-size: medium;
}










